@import "~normalize.css";
@import "~@blueprintjs/core/lib/css/blueprint.css";
@import "~@blueprintjs/icons/lib/css/blueprint-icons.css";

.App::-webkit-scrollbar {
  display: none;
}

.disclaimer {
  padding: 10px;
}

.disclaimer div {
  margin-top: 10px;
}


.App {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.App-header::-webkit-scrollbar {
  display: none;
}

.general-container::-webkit-scrollbar {
  display: none;
}

.map {
  max-width: 100vw;
  overflow-x: auto;
}

.results {
  margin: 10px;
  margin-left: 20px;
}

.App-header {
  background-color: #282c34;
  min-width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  padding: 30px;
  text-align: center;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.general-container {
  display: grid;
  overflow-x: scroll;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.sliders {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  text-align: left;
}

.slider {
  display: grid!important;
  grid-template-rows: 75px 1fr;
  margin: 20px;
  text-align: left;
}

.democrats * div.bp3-slider-progress.bp3-intent-primary {
  background-color: #00AFF3;
} 

.republicans * div.bp3-slider-progress.bp3-intent-primary {
  background-color: #E81B23;
} 

.libertarians * div.bp3-slider-progress.bp3-intent-primary {
  background-color: #D9B214;
}

.greens * div.bp3-slider-progress.bp3-intent-primary {
  background-color: #02A95C;
} 

.write-ins * div.bp3-slider-progress.bp3-intent-primary {
  background-color: #000;
} 


.App-link {
  color: #61dafb;
}


@media (min-width: 576px) { 

  .slider {
    font-size: calc(10px + 1vmin);
    margin-top: 10px!important;
    grid-template-rows: 30px 1fr;
  }
 }

@media (min-width: 768px) { 
  .sliders {
    font-size: calc(10px + 1vmin);
  }
  .slider {
    display: grid!important;
    grid-template-rows: 100px 1fr;
  }
}

@media (min-width: 992px) { 
  .sliders {
    grid-template-columns: repeat(4, 1fr);
  }
  .slider {
    display: grid!important;
    grid-template-rows: 40px 1fr;
  }
}

@media (min-width: 1200px) { 
  .App {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }
  
  .App-header::-webkit-scrollbar {
    display: none;
  }
  
  .general-container::-webkit-scrollbar {
    display: none;
  }

  .sliders {
    grid-template-columns: repeat(5, 1fr);
  }

  .general-container {
    display: grid;
    grid-template-columns: 650px 1fr;
  }

  .slider {
    display: grid!important;
    grid-template-rows: 100px 1fr;
    margin-top: 0px!important;
  }
}

.signature {
  margin-top: 30px;
  font-size: small;
}

.signature a {
  margin-left: 20px;
}